@import "tailwindcss";

@theme {
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;
}

@layer base {
    body {
        @apply m-0 p-0 antialiased bg-gray-50 text-gray-900;
        font-family: var(--font-sans);
    }

    .font-serif {
        font-family: var(--font-serif);
    }
}