@import "tailwindcss";

:root {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Playfair Display", serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-serif {
    font-family: var(--font-serif);
}